<div>
  <p>Bonjour,</p>
  <p style="margin-top: 30px;">Votre déclaration sur Déclare Douane a été créée.</p>
  <p style="margin-top: 30px;">Pour consulter les détails de votre déclaration, veuillez cliquer sur le lien ci-dessous:</p>
  <div class="row-buttons">
    <div class="delta-v-button">
      <a href="{{{declarationDetailsUrl}}}" >Voir ma déclaration</a>
    </div>
  </div>
  <p>Si le bouton pour voir la déclaration ne s'affiche pas, copiez le lien ci-dessous et collez-le dans votre navigateur:</p>
  <a href="{{{declarationDetailsUrl}}}" style="margin-top: 30px; overflow-wrap: break-word;">{{declarationDetailsUrl}}</a>
  <p style="margin-top: 30px; margin-bottom: 0px">Cordialement</p>
  <p style="margin-top: 6px;">L'équipe Déclare Douane</p>
</div>