<div>
  <p>Bonjour,</p>
  <p style="margin-top: 30px;">Vous avez oublié votre mot de passe Déclare Douane Agent ? Définissez-en un nouveau.</p>
  <p style="margin-top: 30px;">Nous avons reçu une demande de réinitialisation de mot de passe pour votre compte. Si vous ne souhaitez pas réinitialiser votre mot de passe, vous pouvez ignorer cet e-mail.
</p>
  <div class="row-buttons">
    <div class="delta-v-button">
      <a href="{{{emailAskResetPasswordUrl}}}" >Réinitialisation du mot de passe</a>
    </div>
  </div>
  <p>Si le bouton de réinitialisation de mot de passe ne s’affiche pas, copiez le lien ci-dessous et collez-le dans votre navigateur :</p>
  <a href="{{{emailAskResetPasswordUrl}}}" style="margin-top: 30px; overflow-wrap: break-word;">{{emailAskResetPasswordUrl}}</a>
  <p style="margin-top: 30px; margin-bottom: 0px">Cordialement</p>
  <p style="margin-top: 6px;">L'équipe Déclare Douane</p>
</div>