
# Dependency directories
node_modules/

# build
dist/
build/

# History management
.history/

# Optional npm cache directory
.npm

# Optional vscode info
.vscode/*
!.vscode/settings.json

.env

.DS_Store

back/.DS_Store

e2e/*
