<div>
  <p>Bonjour,</p>
  <p style="margin-top: 30px;">Nous vous informons que votre mot de passe sur Déclare Douane a été modifié avec succès.</p>
  <p style="margin-top: 30px;">Si vous avez effectué cette modification, vous pouvez ignorer cet e-mail.</p>
  <p>En revanche, si vous n'avez pas demandé de changer votre mot de passe, veuillez contacter notre service client dès que possible pour signaler ce problème :</p>
  <p style="margin-top: 10px;">Numéro du service client : {{phoneNumberSAV}}</p>
  <p style="margin-top: 10px;">E-mail du service client : {{emailSAV}}</p>
  <p style="margin-top: 30px;">Notre équipe du service client se fera un plaisir de vous aider à résoudre tout problème lié à votre compte.</p>
  <p style="margin-top: 30px; margin-bottom: 0px">Cordialement,</p>
  <p style="margin-top: 6px;">L'équipe Déclare Douane</p>
</div>