<div>
  <p>Bonjour,</p>
  <p style="margin-top: 30px;">Un agent a envoyé un commentaire concernant le site Déclare Douane. Voici les détails :</p>
  <p style="margin-top: 30px;"><strong>ID de l'agent :</strong> {{agentId}}</p>
  <p><strong>Adresse e-mail de l'agent :</strong> {{agentEmail}}</p>
  <p><strong>Commentaire :</strong></p>
  <p>{{comment}}</p>
  <p style="margin-top: 30px;">Merci de prendre les mesures appropriées pour examiner et répondre à ce commentaire.</p>
  <p style="margin-top: 30px; margin-bottom: 0px">Cordialement,</p>
  <p style="margin-top: 6px;">L'équipe Déclare Douane</p>
</div>