@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Marianne";
    font-style: normal;
    font-weight: 400;
    src: url("../../public/assets/fonts/Marianne/Marianne-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Marianne";
    font-style: italic;
    font-weight: 400;
    src: url("../../public/assets/fonts/Marianne/Marianne-Regular_Italic.woff2") format("woff2");
}

@font-face {
    font-family: "Marianne";
    font-style: normal;
    font-weight: 500;
    src: url("../../public/assets/fonts/Marianne/Marianne-Medium.woff2") format("woff2");
}

@font-face {
    font-family: "Marianne";
    font-style: italic;
    font-weight: 500;
    src: url("../../public/assets/fonts/Marianne/Marianne-Medium_Italic.woff2") format("woff2");
}

@font-face {
    font-family: "Marianne";
    font-style: normal;
    font-weight: 700;
    src: url("../../public/assets/fonts/Marianne/Marianne-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "Marianne";
    font-style: italic;
    font-weight: 700;
    src: url("../../public/assets/fonts/Marianne/Marianne-Bold_Italic.woff2") format("woff2");
}

@font-face {
    font-family: "Marianne";
    font-style: normal;
    font-weight: 800;
    src: url("../../public/assets/fonts/Marianne/Marianne-ExtraBold.woff2") format("woff2");
}

@font-face {
    font-family: "Marianne";
    font-style: italic;
    font-weight: 800;
    src: url("../../public/assets/fonts/Marianne/Marianne-ExtraBold_Italic.woff2") format("woff2");
}

@font-face {
    font-family: "Marianne";
    font-style: normal;
    font-weight: 300;
    src: url("../../public/assets/fonts/Marianne/Marianne-Light.woff2") format("woff2");
}

@font-face {
    font-family: "Marianne";
    font-style: italic;
    font-weight: 300;
    src: url("../../public/assets/fonts/Marianne/Marianne-Light_Italic.woff2") format("woff2");
}

@font-face {
    font-family: "Marianne";
    font-style: normal;
    font-weight: 100;
    src: url("../../public/assets/fonts/Marianne/Marianne-Thin.woff2") format("woff2");
}

@font-face {
    font-family: "Marianne";
    font-style: italic;
    font-weight: 100;
    src: url("../../public/assets/fonts/Marianne/Marianne-Thin_Italic.woff2") format("woff2");
}

body {
    font-family: "Marianne", sans-serif;
    font-size: 13px;
}

svg {
    width: 100%;
    height: 100%;
}

@layer components {

    .theme {
        .slick-next {
            font-size: 0;
            line-height: 0;

            position: absolute;
            top: 50%;

            display: block;

            width: 20px;
            height: 20px;
            padding: 0;
            transform: translate(-50%, -50%);

            cursor: pointer;

            color: transparent;
            border: none;
            outline: none;
            background: transparent;
        }
        .slick-prev:hover,
        .slick-prev:focus,
        .slick-next:hover,
        .slick-next:focus {
            color: transparent;
            outline: none;
            background: transparent;
        }
        .slick-prev:hover:before,
        .slick-prev:focus:before,
        .slick-next:hover:before,
        .slick-next:focus:before {
            opacity: 1;
        }
        .slick-prev.slick-disabled:before,
        .slick-next.slick-disabled:before {
            opacity: 0.25;
        }

        .slick-prev:before,
        .slick-next:before {
            font-size: 40px;
            line-height: 1;

            opacity: 0.75;
            color: gray;
            mix-blend-mode: difference;

            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        .slick-prev {
            left: -35px;
        }
        [dir='rtl'] .slick-prev {
            right: -35px;
            left: auto;
        }
        .slick-prev:before {
            content: '${() => LEFT_ICON}';
        }
        [dir='rtl'] .slick-prev:before {
            content: '${() => RIGHT_ICON}';
        }

        .slick-next {
            right: -35px;
        }
        [dir='rtl'] .slick-next {
            right: auto;
            left: -35px;
        }
        .slick-next:before {
            content: '${() => RIGHT_ICON}';
        }
        [dir='rtl'] .slick-next:before {
            content: '${() => LEFT_ICON}';
        }

        /* Dots */
        .slick-dotted.slick-slider {
            margin-top: 10px;
            margin-bottom: 30px;
        }

        .slick-dots {
            position: absolute;
            bottom: -25px;

            display: block;

            width: 100%;
            padding: 0;
            margin: 0;

            list-style: none;

            text-align: center;
        }
        .slick-dots li {
            position: relative;

            display: inline-block;

            width: 20px;
            height: 20px;
            margin: 0 5px;
            padding: 0;

            cursor: pointer;
        }
        .slick-dots li button {
            font-size: 0;
            line-height: 0;

            display: block;

            width: 20px;
            height: 20px;
            padding: 5px;

            cursor: pointer;

            color: transparent;
            border: 0;
            outline: none;
            background: transparent;
        }
        .slick-dots li button:hover,
        .slick-dots li button:focus {
            outline: none;
        }
        .slick-dots li button:hover:before,
        .slick-dots li button:focus:before {
            opacity: 1;
        }
        .slick-dots li button:before {
            font-size: 11px;
            line-height: 20px;

            position: absolute;
            top: 0;
            left: 0;

            width: 20px;
            height: 20px;

            content: '●';
            text-align: center;

            opacity: 0.25;
            color: gray;
            mix-blend-mode: difference;

            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
        .slick-dots li.slick-active button:before {
            opacity: 0.75;
            color: gray;
            mix-blend-mode: difference;
        }
    }
}