<div>
  <p>Bonjour,</p>
  <p style="margin-top: 30px;">Merci de vous être inscrit à Déclare Douane ! Pour activer votre compte, veuillez cliquer sur le lien de validation ci-dessous :</p>
  <div class="row-buttons">
    <div class="delta-v-button">
      <a href="{{{emailVerificationUrl}}}" >Valider mon adresse e-mail</a>
    </div>
  </div>
  <p>Si le bouton de validation d'e-mail ne s'affiche pas, copiez le lien ci-dessous et collez-le dans votre navigateur :</p>
  <a href="{{{emailVerificationUrl}}}" style="margin-top: 30px; overflow-wrap: break-word;">{{emailVerificationUrl}}</a>
  <p style="margin-top: 30px; margin-bottom: 0px">Cordialement</p>
  <p style="margin-top: 6px;">L'équipe Déclare Douane</p>
</div>